{% extends "base.html" %}
{% block title %}ようこそ{% endblock %}
{% block content %}
  <div class="mt-10">
    <h2 class="text-center text-2xl font-bold">プログレスファーム<br>業務用受注アプリ</h2>
    <h3>お知らせ</h3>
    <ul>
      <li>今シーズンより、本システムにてご注文を承ります。</li>
    </ul>
    <h3>ご利用方法等</h3>
    <ul>
      <li>「注文」画面より、ご希望の品種、納品日、クール区分、等階級、内容量、数量、特記事項をお知らせください。</li>
      <li>ご注文は「ステータス」画面にて「仮注文」として受け付け、箱詰め完了後に「受注」となります。</li>
      <li>生育状況や自然災害、数量が多い等、生産能力を超え受注が難しい場合がございます。その際は極力早めに連絡させていただきます。</li>
      <li>仮注文の変更は「ステータス」画面より、対象の注文ID横の「変更」ボタンよりお知らせ下さい。ただし、納品予定日の5日前よりシステムでの変更はできません。</li>
      <li>仮注文、変更、受注時には、ご登録のメールアドレスにメールが送付されます。</li>
      <li>表示される送料は概ねの目安となります。実際の金額は納品書・請求書にてお示しいたします。</li>
      <li>お支払いは月末締めの翌月末払にてお願いいたします。</li>
      <li>ご請求書は、ご登録のメールアドレスに送付いたします。</li>
    </ul>
    <h3>生育状況など</h3>
    <ul>
      <li>今年も年明けから暖かく霜害を心配しましたが、3月に入ってから急に気温が下がり、開花は平年並みになりました。ただ、4月以降平均気温が1〜3度も高いこともあり、今のところ生育は昨年より数日前進しています。</li>
      <li>国内全般の桃全体の供給としては、一部産地では病虫害（特にカメムシ類）がでて出荷量が減少しているようですが、全国的には霜害がなかったため、昨年よりも品物は出てくると思います。ただ、開花から収穫までの期間が短く作業時間を確保できない桃農家も多く、小玉傾向と考えられます（周囲でも「玉数は多いが重量がない」という話をよく聞きます）。</li>
      <li>また、収穫期の前倒しにより、大口需要が集中する8月上旬〜盆前にかけては引き合いが強くなり単価が上昇する局面もありそうです。</li>
    </ul>
    <span class=alert-secondary>※生育状況は昨年の内容のため仮です</span>


    <div class="mt-6 flex justify-center gap-4">
      <a href="{% url 'login' %}" class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded">ログイン</a>
    </div>
  </div>
{% endblock %}