{% extends "base.html" %}
{% load humanize %}
{% block title %}受注管理{% endblock %}
{% block content %}
    <h2>受注管理</h2>
    <br>
    {% if orders %}
        {% for order in orders %}
        {% with first_item=order.items.first %}
            {% if first_item %}
            {% ifchanged order.product_delivery_date.date %}
                <div class="d-flex justify-content-start bg-dark align-items-center text-light p-2 mb-3" style="border-radius: 0.5rem;">
                    <div class="mb-0">
                        <strong>発送見込：</strong>{{ order.product_delivery_date.date|date:"Y/m/d" }}
                    </div>      
                </div>
            {% endifchanged %}
            <div  class="card-rounded" onclick="this.closest('form').submit();" style="cursor: pointer;">
            <table>
                <tr>
                    <td colspan=5>
                        <strong>注文番号：</strong>{{ order.order_id }}
                        <span>（{{ order.get_status_display }}）</span>
                    </td>
                </tr>
                <tr>
                    <td colspan=5>
                        <strong>注文日時：</strong>{{ order.created_at|date:"Y/m/d H:i" }}
                    </td>
                </tr>
                <tr>
                    <td colspan=5>
                        <strong>お客様名：</strong>{{ order.user }}
                        <span>（{{ order.userprofile.region }}）</span>
                    </td>
                </tr>
                <tr>
                    <td colspan=5>
                        <strong>配送状況：</strong>
                        {% if order.status == 'shipped' %}
                            {% if order.pickup_flg %}   
                                納品済     
                            {% else %}
                            {% if order.tracking_id %}
                            <a href="https://member.kms.kuronekoyamato.co.jp/parcel/detail?pno={{order.tracking_id}}" target="_blank" class="text-blue-600 underline" onclick="event.stopPropagation();">
                                発送済
                            </a>（追跡番号：{{ order.tracking_id }}）
                            {% else %}
                                発送済
                            {% endif %}
                            {% endif %}
                        {% else %}
                            未発送
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td colspan=5>
                        <strong>税込合計：</strong>{{ order.final_price|intcomma }}円（別途送料{{ order.shipping_price|intcomma }}円）
                        <!--<p><strong>総計：</strong>{{ order.final_total|intcomma }}円</p>-->
                    </td>
                </tr>
                <tr>
                    <td><strong>特記事項：</strong>{{ order.remarks }}</td>
                </tr>
                <tr>
                    <td colspan=5>
                        <strong>注文内容：</strong>{{ first_item.product.name }}・
                        {% if order.pickup_flg%}
                            引取り
                        {% else %}
                            {% if order.cool_flg == true %}
                                冷蔵便
                            {% else %}
                                常温便
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
                </table>
                <table class="custom-table">
                <tr>
                    <th class="text-center d-none d-sm-table-cell">等級</th>
                    <th class="text-center d-none d-sm-table-cell">階級</th>
                    <th class="text-center d-none d-sm-table-cell">ユニット</th>
                    <th class="text-center d-none d-sm-table-cell">単価</th>
                    <th class="text-center d-none d-sm-table-cell">数量</th>
                    <!--<th class="d-none d-sm-table-cell">小計(内税) </th>-->
                </tr>
                {% for item in order.items.all %}
                    {% if item.quantity > 0 %}
                    <tr>
                        <td class="text-center nowrap">{{ item.price_table.grade }}</td>
                        <td class="text-center nowrap">{{ item.price_table.size }}</td>
                        <td class="text-center nowrap">{{ item.price_table.unit }}</td>
                        <td class="text-center nowrap">@{{ item.price_table.price|intcomma }}円</td>
                        <td class="text-center nowrap">×{{ item.quantity }}</td>
                        <!--<td style="text-align:right width:10%">{{ item.subtotal|intcomma }}円</td>-->
                    </tr>
                    {% endif %}
                {% endfor %}
                </table>
                <tr>
                    <td colspan=5>
                        <div class="d-flex justify-content-start" style="padding: 10px 0;">
                        {% if order.status != 'shipped' %}
                            <form method="POST" action="{% url 'order_cancel' order.order_id %}">
                                {% csrf_token %}
                                <button type="submit" id="cancel-order" onclick="return confirm('この注文をキャンセルしますか？');" class="btn btn-sm text-light me-2" style="padding: 2px 8px; font-size: 0.75rem; background-color: #EB7000;">
                                    取消
                                </button>
                            </form>
                            <form method="GET" action="{% url 'order_change' order.order_id %}">
                                {% csrf_token %}
                                <button id="change" type="submit" class="btn btn-sm btn-primary me-2" style="padding: 2px 8px; font-size: 0.75rem;">変更</button>
                            </form>
                        {% endif %}
                        {% if order.status == 'tentative' %}
                            <form method="POST" action="{% url 'order_confirm' order.order_id %}">
                                {% csrf_token %}
                                <button id="confirm" type="submit" class="btn btn-sm btn-primary me-2" style="padding: 2px 8px; font-size: 0.75rem;">受注</button>
                            </form>
                        {% endif %}
                        {% if order.status == 'received' %}
                        <form method="POST" onsubmit="return validateTrackingId(event, this)" action="{% url 'ship_comp' order.order_id %}">
                            {% csrf_token %}
                            {% if order.pickup_flg %}
                                <input type="hidden" name="tracking_id" value=0>
                                <button type="submit" class="btn btn-sm btn-primary me-2" style="padding: 2px 8px; font-size: 0.75rem;">納品</button>
                            {% else %}
                            <div class="d-flex justify-content-start">
                                <input type="text" inputmode="numeric" name="tracking_id" maxlength="12" class="form-control" style="max-width: 130px;">
                                <button type="submit" class="btn btn-sm btn-primary me-2" style="padding: 2px 8px; font-size: 0.75rem;">登録</button>
                            </div>
                            {% endif %}
                        </form>
                        {% endif %}
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        {% endif %}
        {% endwith %}
        {% endfor %}
    {% else %}
        <p>注文履歴はまだありません。</p>
    {% endif %}
<script>
    function validateTrackingId(event, form){
        const target = form.tracking_id
        if(!target || target.type === 'hidden'){
            return true;
        }
        else{
        target_num = target.value.trim();

        if (!/^\d{12}$/.test(target_num)){
            alert("追跡番号は12桁の数字で入力してください。");
            event.preventDefault();
            return false;
        }
    
        return true;
    }
    }
</script>
{% endblock %}