{% extends "base.html" %}
{% block title %}ログイン{% endblock %}
{% block content %}
<div class="container mt-5" style="max-width: 400px">
    <h2 class="text-center" mb-4>ログイン</h2>
    {% if form.errors %}
        <div class="alert alert-danger">メールアドレスまたはパスワードが正しくありません。</div>
    {% endif %}
    <form method="POST" novalidate>
        {% csrf_token %}
        {% load my_filters %}
        <div class="mb-3">
            <label for="id_username" class="form-label">メールアドレス</label>
            {{ form.username|add_class:"form-control" }}
        </div>
        <div class="mb-3">
            <label for="id_password" class="form-label">パスワード</label>
            {{ form.password|add_class:"form-control" }}
        </div>
        <div class="d-grid">
            <button type="submit"  class="btn btn-primary">ログイン</button>
        </div>
    </form>
    <div class="alert alert-warning mt-4"  style="max-width: 400px; margin: 0 auto;">
  LINEやInstagramなどのアプリ内からのログインでエラーになる場合はSafariやChromeなどの外部ブラウザで開いてください。
    </div>
</div>
{% endblock %}