{% extends "base.html" %}
{% block title %}発注{% endblock %}
{% block content %}
<div class="ps-1">
<h2 class="m-0">発注</h2>

{% for note in notes%}
    {{ note.content|safe }}
{% endfor %}
<table>
    <tbody>
        {% for kind in kinds %}
        <tr>
            <td class="text-left nowrap">
                {{ kind.name }}
            </td>
        </tr>
            {% for product in kind.products.all %}
        <tr>
            <td align="center">
                {% if product.status != 'closed' %}
                    <a href="{% url 'new_order' product.id%}" class="btn btn-sm btn-primary" style="padding: 2px 8px; font-size: 0.75rem;">注文</a>
                {% else %}
                    <span class="test-muted">（準備中）</span>
                {% endif %}
            </td>
            <td align="left" nowrap><strong>{{ product.name }}</strong>（{{ product.season }}）</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}