{% extends "base.html" %}
{% block title %}発注{% endblock %}
{% block content %}
<h2>発注</h2>
{% for note in notes%}
    {{ note.content|safe }}
{% endfor %}
{% for disp in disp_kinds %}
    <div class="d-flex justify-content-center align-items-center text-light p-1" style="background-color: #20AEE5;">
        {{ disp.name }}
    </div>
    {% for product in kind.prefetched_products %}
        {% if product.status != 'closed' and product.earliest_date %}
        <a href="{% url 'new_order' product.id%}" class="text-decoration-none">
        <div class="d-flex justify-content-center align-items-baseline text-dark bg-light p-1 border border-secondary-subtle gap-2">
            <span style="min-width: 7em; font-weight: normal;">{{ product.name }}</span><span>{{ product.earliest_date|date:"m/d" }}  〜  {{ product.latest_date|date:"m/d" }} </span>
        </div>
        </a>
        {% elif product.earliest_date  %}
        <div class="d-flex justify-content-center align-items-baseline text-dark bg-light p-1 border border-secondary-subtle gap-2">
            <span class="test-muted" style="min-width: 7em;">{{ product.name }}</span>
            <span class="test-muted">（{{ product.season }}　準備中）</span>
        </div>
        {% endif %}
    {% endfor %}
{% endfor %}
{% endblock %}