{% extends "base.html" %}
{% block content %}
{% if mode == 'edit' %}
<h2>注文変更</h2>
{% else %}
<h2>新規注文</h2>
{% endif %}
<div class="card-rounded">
<table>
    <tr>
        <td nowrap class="fs-3">{{ product.name }}</td>
        <!--<td nowrap class="small">（{{ product.season }}）</td>-->
    </tr>
</table>
{% if mode == 'new' %}
<p class="small text-muted">{{ product.description|safe }}</p>
{% endif %}
{% if user.is_superuser and mode == 'new' %}
<form id="user-select-form" method="get" class="mb-3">
    <label><strong>注文ユーザー：</strong>
        <select name="user_id" onchange="this.form.submit()">
            {% for selectable_user in available_users %}
            <option value="{{ selectable_user.id }}" {% if selectable_user.id == selected_user.id %}selected{% endif %}>
                {{ selectable_user.get_full_name|default:selectable_user.username }}
            </option>
            {% endfor %}
        </select>
    </label>
</form>
{% endif %}
<form id="order-form" method="POST" onsubmit="return handleSubmit(event)">
    {% csrf_token %}
    {% if user.is_superuser and mode == 'new' %}
    <input type="hidden" name="user_id" value="{{ selected_user.id }}">
    {% endif %}
    {% if order %}
    <p><strong>注文番号：</strong>{{ order.order_id }}
    {% endif %}
    <p><strong>発送見込：</strong>
        <select name="delivery_date">
            {% for date in delivery_dates %}
            <option value="{{ date.value }}">{{ date.label }}</option>
            {% endfor%}
        </select>
    </p>
    {% if mode == 'edit'%}
    <p><strong>配送区分：</strong>

        <label style="coursor: pointer;">       
            <input type="radio" name="delivery_type" value="normal"
            {% if not order.cool_flg and not order.pickup_flg %}checked{% endif %}>常温便
        </label>  
        <label style="coursor: pointer;">     
            <input type="radio" name="delivery_type" value="cool"
            {% if order.cool_flg %}checked{% endif %}>冷蔵便
        </label>  
        <label style="coursor: pointer;">   
            <input type="radio" name="delivery_type" value="pickup"
            {% if order.pickup_flg %}checked{% endif %}>引取り
        </label>
    </p>
    {% else %}
    <p><strong>配送区分：</strong>

        <label style="coursor: pointer;">       
            <input type="radio" name="delivery_type" value="normal">常温便
        </label>  
        <label style="coursor: pointer;">     
            <input type="radio" name="delivery_type" value="cool" checked>冷蔵便
        </label>  
        <label style="coursor: pointer;">   
            <input type="radio" name="delivery_type" value="pickup">引取り
        </label>
    </p>
    {% endif %}
    <div class="table-responsive">
    <table>
        <tr>
            <th></th>
            <th class="text-center d-none d-sm-table-cell">等級</th>
            <th class="text-center d-none d-sm-table-cell">階級</th>
            <th class="text-center d-none d-sm-table-cell">ユニット</th>
            <th class="text-center d-none d-sm-table-cell">税込価格</th>
            <th class="text-center d-none d-sm-table-cell">数量</th>
        </tr>
        <tbody id="order-body">
            {% if order.items.all and order.items.all|length > 0 %}
            {% for item in order.items.all %}
            <tr class="order-row">
                <td>
                    <button type="button" class="btn  border-0 btn-sm delete-btn" title="削除">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
                <td>
                    <select name="grade_{{ forloop.counter0 }}">
                        {% for grade in grades %}
                        <option value="{{ grade }}"
                        {% if grade == item.price_table.grade %}
                            selected
                        {% endif %}>{{ grade }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select name="size_{{ forloop.counter0 }}">
                        {% for size in sizes %}
                        <option value="{{ size }}"
                        {% if size == item.price_table.size %}
                        selected
                        {% endif %}>{{ size }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select name="unit_{{ forloop.counter0 }}">
                        {% for unit in units %}
                        <option value="{{ unit }}"
                        {% if unit == item.price_table.unit %}
                        selected
                        {% endif %}>{{ unit }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td style="white-space: nowrap;">
                    <span class="price_display">-</span>円
                </td>
                <td>
                    <input inputmode="numeric" name="quantity_{{ forloop.counter0 }}" value="{{ item.quantity|default:"" }}" min="0" class="form-control" style="min-width: 20px; max-width: 50px;">
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr class="order-row">
                <td>
                    <button type="button" class="btn  border-0 btn-sm delete-btn" title="削除">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
                <td>
                    <select name="grade_0">
                        {% for grade in grades %}
                        <option value="{{ grade }}">{{ grade }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select name="size_0">
                        {% for size in sizes %}
                        <option value="{{ size }}">{{ size }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select name="unit_0">
                        {% for unit in units %}
                        <option value="{{ unit }}">{{ unit }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td style="white-space: nowrap;">
                    <span class="price_display">-</span>円
                </td>
                <td>
                    <input inputmode="numeric" name="quantity_0" value="" min="0" class="form-control" style="min-width: 20px; max-width: 50px;">
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    </div>
    <br>
    <button type="button" class="btn btn-sm text-light me-2" style="padding: 2px 8px; font-size: 0.75rem; background-color: #20AEE5;" onclick="addRow()">+ 行を追加</button>
    <br><br>
    <strong>特記事項：</strong>
    <input type=text name="remarks" class="form-control" value="{{ order.remarks|default:""}}" style="max-width: 450px;">
    <div class="d-flex gap-2 align-items-center mt-3">
    {% if mode == 'edit' %}
        {% if order.status == 'tentative' or order.status == 'received' %}
            <button type="submit" id="cancel-order" form="cancel-order-form" onclick="return confirm('この注文をキャンセルしますか？');" class="btn btn-sm text-light me-2" style="padding: 2px 8px; font-size: 0.75rem; background-color: #EB7000;">
                取消
            </button>
        {% elif order.status == 'preparing' or  order.status == 'shipped' %}
            <p class="text-muted ps-0 mb-2">(キャンセル不可)</span>
        {% elif order.status == 'canceled' %}
            <p class="text-muted ps-0 mb-2">(キャンセル済みです。)</span>
        {% endif %}
    {% endif %}
    {% if mode == 'edit' %}
    <button type="submit" id="kari-order" class="btn btn-sm text-light me-2" style="padding: 2px 8px; font-size: 0.75rem; background-color: #20AEE5;">変更</button>
    {% else %}
    <button type="submit" id="kari-order" class="btn btn-sm text-light me-2" style="padding: 2px 8px; font-size: 0.75rem; background-color: #20AEE5;">仮注文</button>
    {% endif %}
    </div>
</form>
{% if mode == 'edit' and (order.status == 'tentative' or order.status == 'received') %}
<form id="cancel-order-form" method="POST" action="{% url 'order_cancel' order.order_id %}" class="d-none">
    {% csrf_token %}
</form>
{% endif %}
    {% if mode == 'edit' %}
    {% if user.is_superuser %}
    <p class="ps-0 mb-2"><a href="{% url 'order_confirm' %}">←　受注管理に戻る</a></p>
    {% else %}
    <p class="ps-0 mb-2"><a href="{% url 'order_history' %}">←　注文履歴に戻る</a></p>
    {% endif %}
    {% endif %}
</div>
<script>
    const priceData = {{ price_data_json|safe }};
    let rowIndex = {{ order.items.all|length|default:1}};

    function updateSelectStyles(select, validOptions){
        let firstValidFound = null;
        [...select.options].forEach(option => {
            if(validOptions.includes(option.value)){
                option.disabled = false;
                if (firstValidFound === null){
                    firstValidFound = option.value;
                }
            } else {
                option.disabled = true;
            }
        });

        if (!validOptions.includes(select.value)){
            select.value = firstValidFound
        }
    }

    function updatePrice(row, index){
        const grade = row.querySelector(`select[name="grade_${index}"]`);
        const size = row.querySelector(`select[name="size_${index}"]`);
        const unit = row.querySelector(`select[name="unit_${index}"]`);
        const price = row.querySelector('.price_display');

        const match = priceData.find(p => p.grade === grade.value
                                    && p.size === size.value
                                    && p.unit === unit.value);
        price.textContent = match ? Number(match.price).toLocaleString(): '-';
    }

    function handleGradeChange(row, index) {
        const grade = row.querySelector(`select[name="grade_${index}"]`);
        const size = row.querySelector(`select[name="size_${index}"]`);
        const unit = row.querySelector(`select[name="unit_${index}"]`);

        const selectedGrade = grade.value;

        const validSizes = [...new Set(priceData
            .filter(p => p.grade === selectedGrade)
            .map(p => p.size))];

        const validUnits = [...new Set(priceData
            .filter(p => p.grade === selectedGrade)
            .map(p => p.unit))]; 

        updateSelectStyles(size, validSizes);
        updateSelectStyles(unit, validUnits);

        updatePrice(row, index);
    }

    function handleSizeChange(row, index) {
        const grade = row.querySelector(`select[name="grade_${index}"]`);
        const size = row.querySelector(`select[name="size_${index}"]`);
        const unit = row.querySelector(`select[name="unit_${index}"]`);

        const selectedSize = size.value;

        const validGrades = [...new Set(priceData
            .filter(p => p.size === selectedSize)
            .map(p => p.grade))];

        const validUnits = [...new Set(priceData
            .filter(p => p.size === selectedSize)
            .map(p => p.unit))]; 

        //updateSelectStyles(grade, validGrades);
        updateSelectStyles(unit, validUnits);

        updatePrice(row, index);
    }

    function handleUnitChange(row, index) {
        const grade = row.querySelector(`select[name="grade_${index}"]`);
        const size = row.querySelector(`select[name="size_${index}"]`);
        const unit = row.querySelector(`select[name="unit_${index}"]`);

        const selectedUnit = unit.value;

        const validSizes = [...new Set(priceData
            .filter(p => p.unit === selectedUnit)
            .map(p => p.size))];

        const validGrades = [...new Set(priceData
            .filter(p => p.unit === selectedUnit)
            .map(p => p.grade))]; 

        updateSelectStyles(size, validSizes);
        //updateSelectStyles(grade, validGrades);

        updatePrice(row, index);
    }

    function attachUpdater(row, index){

        const grade = row.querySelector(`select[name="grade_${index}"]`)
        const size = row.querySelector(`select[name="size_${index}"]`)
        const unit = row.querySelector(`select[name="unit_${index}"]`)

        grade.addEventListener("change", () => handleGradeChange(row, index));
        size.addEventListener("change", () => handleSizeChange(row, index));
        unit.addEventListener("change", () => handleUnitChange(row, index));
    }

    function addRow() {
        const tbody = document.getElementById('order-body');
        const firstRow = tbody.querySelector('tr');
        const newRow = firstRow.cloneNode(true);

        newRow.querySelectorAll('select, input').forEach(el => {
            if (el.name){
            el.name = el.name.split('_')[0] + `_${rowIndex}`;
            }
            if (el.tagName === 'INPUT') {
                el.value = "";
            }
        });

        tbody.appendChild(newRow);
        attachUpdater(newRow, rowIndex);
        handleGradeChange(newRow, rowIndex);
        attachDeleteButton(newRow); 
        //attachSwipeDelete(newRow);
        rowIndex++;
    }

    window.addRow = addRow;

    function handleSubmit(event){
        //submit元が明確でない場合、処理を中断
  
        if (event.submitter && event.submitter.id !== "kari-order") {
            return false;
        }
        else{
        const inputs = document.querySelectorAll('input[name^="quantity_"]');
        let total = 0;
        inputs.forEach(input => {
            const val = parseInt(input.value);
            if (!isNaN(val)){
                total += val;
            }
        });    
        if (total === 0){
            alert("数量を1以上にしてください。");
            event.preventDefault(); //フォーム送信をブロック
        }else{
        const btn = document.getElementById('kari-order');
        btn.disabled = true;
        btn.innerText = "送信中..."

        return true;
    }
    }
    }

    {% comment %} function attachSwipeDelete(row) {
        let startX = 0;        
        row.addEventListener('touchstart', e => {
            startX = e.touches[0].clientX;
        });
        row.addEventListener('touchmove', e => {
            let moveX = e.touches[0].clientX;
            if (startX-moveX > 50) {
                row.classList.add('active');
            }
            if (moveX-startX > 50) {
                row.classList.remove('active');
            }
        });

        const slideDeleteBtn = row.querySelector('.slide-delete-btn');
        if (slideDeleteBtn) {
            slideDeleteBtn.addEventListener('click', function(){
                row.remove();
            });
        }
    } {% endcomment %}


    document.addEventListener("DOMContentLoaded", function(){
        // すべての input に対して Enter キーをブロック
        const inputs = document.querySelectorAll('input');
        inputs.forEach(function(input) {
            input.addEventListener('keydown', function(event) {
                if (event.key === "Enter") {
                    if (event.target.type !== "submit" && event.target.tagName !== "TEXTAREA") {
                        event.preventDefault();
                    }
                }
            });
        });
        const rows = document.querySelectorAll('.order-row');
        rows.forEach(row => {
            attachDeleteButton(row);
            //attachSwipeDelete(row);
        });
    });

    document.addEventListener('DOMContentLoaded', () => {
        const rows = document.querySelectorAll('#order-body .order-row');
        rows.forEach((row, index)=>{
            handleGradeChange(row, index);
            attachUpdater(row, index);
        })
    });

    function attachDeleteButton(row){
        const btn = row.querySelector('.delete-btn');
        if (btn) {
            btn.addEventListener('click', () => { 
                if (document.querySelectorAll('.order-row').length > 1){
                    row.remove();
                }else{
                    alert("これ以上削除できません");
                }
            });
        }
    }

</script>
{% endblock %}
