{% extends "base.html" %}
{% load humanize %}
{% block title %}注文変更{% endblock %}
{% block content %}
{% csrf_token %}
<div class="card-rounded">
    <table>
        <tr>
            <td nowrap class="fs-5">{{ product.name }} </td>
            <!--<td nowrap class="small">（{{ product.season }}）</td>-->
        </tr>
    </table>
    <form id="order-form" method="POST" onsubmit="return handleSubmit(event)" action="{% url 'order_change' order.order_id%}">
        {% csrf_token %}
        {% if order.status == 'キャンセル' %}
            <p style="color: red;"><strong>この注文はキャンセルされました。</strong></p>
        {% elif order.status == 'キャンセル不可' %}
            <p style="color: red;"><strong>この注文は納品希望日まで10日を切りましたので、キャンセル不可となります。
            <br>Lineまたはお電話にてお問い合わせくださいませ</strong></p>
        {% endif %} 
    <p><strong>注文番号:</strong>{{ order.order_id }}</p>
    <p><strong>注文日時:</strong>{{ order.created_at|date:"Y/m/d H:i" }}</p>
    <p><strong>納品希望:</strong>
        <select name="delivery_date">
            {% for date in delivery_dates %}
            <option value="{{ date.value }}">{{ date.label }}</option>
            {% endfor%}
        </select>
    </p>
    <div class="d-flex gap-4">
    <p><strong>配送区分:</strong>

        <label style="coursor: pointer;">       
            <input type="radio" name="delivery_type" value="normal"
            {% if not order.cool_flg and not order.pickup_flg %}checked{% endif %}>通常
        </label>  
        <label style="coursor: pointer;">     
            <input type="radio" name="delivery_type" value="cool"
            {% if order.cool_flg %}checked{% endif %}>冷蔵
        </label>  
        <label style="coursor: pointer;">   
            <input type="radio" name="delivery_type" value="pickup"
            {% if order.pickup_flg %}checked{% endif %}>引取
        </label>
    </p>
    </div>
    <div class="table-responsive">
        <table class="thead-light">
            {% comment %} <tr>
            <td colspan=5 class="text-left">{{ product.name }}</td>
            </tr> {% endcomment %}
            <tr>
                <th class="text-center d-none d-sm-table-cell">等級</th>
                <th class="text-center d-none d-sm-table-cell">階級</th>
                <th class="text-center d-none d-sm-table-cell">ユニット</th>
                <th class="text-center d-none d-sm-table-cell">税込価格</th>
                <th class="text-center d-none d-sm-table-cell">数量</th>
                <!--<th class="d-none d-sm-table-cell">小計(内税) </th>-->
            </tr>
            {% for item in order.items.all %}
            <tr>
                <td class="text-center">{{ item.price_table.grade }}</td>
                <td class="text-center">{{ item.price_table.size }}</td>
                <td class="text-center" style="white-space: nowrap;">{{ item.price_table.unit }}</td>
                <td class="text-center" style="white-space: nowrap;">{{ item.price_table.price|intcomma }}円</td>
                <td class="text-center" style="white-space: nowrap;">
                    <input inputmode="numeric" name="quantity_{{ item.id }}" value="{{ item.quantity }}" min="0" class="form-control" style="max-width: 50px; font-size: 14px;">
                </td>
                <!--<td style="text-align:right width:10%">{{ item.subtotal|intcomma }}円</td>-->
            </tr>
            {% endfor %}
            <tbody id="order-body">
            </tbody>
        </table>
        <!--非表示テンプレート-->
        <table style="display: none;">
            <tbody>
                <tr id="row-template">
                    <td class="text-center">
                        <select name="grade_0">
                            {% for grade in grades %}
                            <option value="{{ grade }}">{{ grade }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td class="text-center">
                        <select name="size_0">
                            {% for size in sizes %}
                            <option value="{{ size }}">{{ size }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td class="text-center">
                        <select name="unit_0">
                            {% for unit in units %}
                            <option value="{{ unit }}">{{ unit }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td class="text-center">
                        <span class="price_display">-</span>円
                    </td>
                    <td class="text-center">
                        <input inputmode="numeric" name="quantity_0" value="" min="0" class="form-control" style="min-width: 20px; max-width: 50px;">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <button type="button" class="btn btn-sm me-2 text-light" style="padding: 2px 8px; font-size: 0.75rem; background-color: #20AEE5" onclick="addRow()">+ 行を追加</button>
    <br><br>
    <strong>特記事項</strong>
    <input type=text name="remarks" value="{{order.remarks}}" class="form-control" style="max-width: 450px;">
    <br>
    <!-- <hr>
    <p><strong>総計：</strong>{{ order.final_total|intcomma }}円(うち送料){{ order.shipping_price|intcomma }}円</p> 

    <p><a href="{% url 'order_invoice_pdf' order.order_id %}" target="_blank">請求書</a></p>-->
        <button type="submit" id="fix-order" class="btn text-light me-2" style="padding: 2px 8px; font-size: 0.75rem; background-color: #20AEE5">
          確定
        </button>
    </form>
    {% if order.status == 'tentative' or order.status == 'received' %}
    <form method="POST" action="{% url 'order_cancel' order.order_id %}">
        {% csrf_token %}
        <button type="submit" onclick="return confirm('この注文をキャンセルしますか？');" class="btn btn-link btn-sm text-decoration-none ps-0">
            この注文をキャンセルする
        </button>
    </form>
    {% elif order.status == 'preparing' or  order.status == 'shipped' %}
        <p class="text-muted ps-0 mb-2">(キャンセル不可)</span>
    {% elif order.status == 'canceled' %}
        <p class="text-muted ps-0 mb-2">(キャンセル済みです。)</span>
    {% endif %}
    <p class="ps-0 mb-2"><a href="{% url 'order_history' %}">←　注文履歴に戻る</a></p>
</div>
    <script>
        const priceData = {{ price_data_json|safe }};
        let rowIndex = 1;

        function addRow(){
            const tbody = document.getElementById('order-body');
            const templateRow = document.getElementById('row-template');
            const newRow = templateRow.cloneNode(true);
            newRow.removeAttribute('id');

            newRow.querySelectorAll('select, input').forEach(el => {
                if(el.name){
                el.name = el.name.split('_')[0] + `_${rowIndex}`;
                }
                if (el.tagName === 'INPUT'){
                    el.value = "";
                }
            });

            tbody.appendChild(newRow);
            attachUpdater(newRow, rowIndex);
            handleGradeChange(newRow, rowIndex);
            rowIndex++;
        }


        function updateSelectStyles(select, validOptions){
            [...select.options].forEach(option => {
                if(validOptions.includes(option.value)){
                    option.disabled = false;
                } else {
                    option.disabled = true;
                }
            });
        }

        function updatePrice(row, index){
            const grade = row.querySelector(`select[name="grade_${index}"]`);
            const size = row.querySelector(`select[name="size_${index}"]`);
            const unit = row.querySelector(`select[name="unit_${index}"]`);
            const price = row.querySelector('.price_display');

            const match = priceData.find(p => p.grade === grade.value
                                        && p.size === size.value
                                        && p.unit === unit.value);
            price.textContent = match ? Number(match.price).toLocaleString(): '-';
        }

        function handleGradeChange(row, index) {
            const grade = row.querySelector(`select[name="grade_${index}"]`);
            const size = row.querySelector(`select[name="size_${index}"]`);
            const unit = row.querySelector(`select[name="unit_${index}"]`);

            const selectedGrade = grade.value;

            const validSizes = [...new Set(priceData
                .filter(p => p.grade === selectedGrade)
                .map(p => p.size))];

            const validUnits = [...new Set(priceData
                .filter(p => p.grade === selectedGrade)
                .map(p => p.unit))]; 

            updateSelectStyles(size, validSizes);
            updateSelectStyles(unit, validUnits);

            updatePrice(row, index);
        }

        function handleSizeChange(row, index) {
            const grade = row.querySelector(`select[name="grade_${index}"]`);
            const size = row.querySelector(`select[name="size_${index}"]`);
            const unit = row.querySelector(`select[name="unit_${index}"]`);

            const selectedSize = size.value;

            const validGrades = [...new Set(priceData
                .filter(p => p.size === selectedSize)
                .map(p => p.grade))];

            const validUnits = [...new Set(priceData
                .filter(p => p.size === selectedSize)
                .map(p => p.unit))]; 

            //updateSelectStyles(grade, validGrades);
            updateSelectStyles(unit, validUnits);

            updatePrice(row, index);
        }

        function handleUnitChange(row, index) {
            const grade = row.querySelector(`select[name="grade_${index}"]`);
            const size = row.querySelector(`select[name="size_${index}"]`);
            const unit = row.querySelector(`select[name="unit_${index}"]`);

            const selectedUnit = unit.value;

            const validSizes = [...new Set(priceData
                .filter(p => p.unit === selectedUnit)
                .map(p => p.size))];

            const validGrades = [...new Set(priceData
                .filter(p => p.unit === selectedUnit)
                .map(p => p.grade))]; 

            updateSelectStyles(size, validSizes);
            //updateSelectStyles(grade, validGrades);

            updatePrice(row, index);
        }

        function attachUpdater(row, index){

            const grade = row.querySelector(`select[name="grade_${index}"]`)
            const size = row.querySelector(`select[name="size_${index}"]`)
            const unit = row.querySelector(`select[name="unit_${index}"]`)

            grade.addEventListener("change", () => handleGradeChange(row, index));
            size.addEventListener("change", () => handleSizeChange(row, index));
            unit.addEventListener("change", () => handleUnitChange(row, index));
        }


        function handleSubmit(event){
            const inputs = document.querySelectorAll('input[name^="quantity_"]');
            let total = 0;
            inputs.forEach(input => {
                const val = parseInt(input.value);
                if (!isNaN(val)){
                    total += val;
                }
            });

            if (total === 0){
                alert("数量を1以上にしてください。");
                event.preventDefault(); //フォーム送信をブロック
            }
            const btn = document.getElementById('fix-order');
            btn.disabled = true;
            btn.innerText = "送信中..."

            return true;
        }

    </script>
{% endblock %}