{% extends "base.html" %}
{% load humanize %}
{% block title %}仮注文受付{% endblock %}
{% block content %}
{% csrf_token %}
    <h2>仮注文受付</h2>
    <div class="card-rounded">
    <form method="POST" action="{% url 'order_cancel' order.order_id%}">
        {% csrf_token %}
        {% if order.status == 'canceled' %}
            <p style="color: red;"><strong>この注文はキャンセルされました。</strong></p>
        {% elif  order.status == 'prepareing' or  order.status == 'shipped' %}
            <p style="color: red;"><strong>この注文はすでに準備中のためキャンセル不可となります。
            <br>Lineまたはお電話にてお問い合わせくださいませ</strong></p>
        {% endif %}

    <p><strong>注文番号：</strong>{{ order.order_id }}</p>
    <p><strong>注文日時：</strong>{{ order.created_at|date:"Y/m/d H:i" }}</p>
    <p><strong>発送見込：</strong>{{ order.product_delivery_date.date|date:"Y/m/d" }}</p>
    <p><strong>注文内容：</strong>{{ order.items.first.product.name }}（{{ order.items.first.product.kind.name }}）・
                        {% if order.pickup_flg == True %}引取り
                        {% elif order.cool_flg == True %}冷蔵便
                        {% else %}通常便
                        {% endif %}</p>
    <div class="table-responsive">
        <table class="custom-table">
            <tr>
                    <th class="text-center d-none d-sm-table-cell">等級</th>
                    <th class="text-center d-none d-sm-table-cell">階級</th>
                    <th class="text-center d-none d-sm-table-cell">ユニット</th>
                    <th class="text-center d-none d-sm-table-cell">単価</th>
                    <th class="text-center d-none d-sm-table-cell">数量</th>
                <!--<th class="d-none d-sm-table-cell">小計(内税) </th>-->
            </tr>
            {% for item in order.items.all %}
                {% if item.quantity > 0 %}
                <tr>
                    <td class="text-center nowrap"> {{ item.price_table.grade }} </td>
                    <td class="text-center nowrap"> {{ item.price_table.size }} </td>
                    <td class="text-center nowrap"> {{ item.price_table.unit }} </td>
                    <td class="text-center nowrap"> @ {{ item.price_table.price|intcomma }}円 </td>
                    <td class="text-center nowrap"> ×{{ item.quantity }} </td>
                   <!-- <td style="text-align:right width:10%">{{ item.subtotal|intcomma }}円</td>-->
                </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
    <p><strong>特記事項：</strong>{{ order.remarks }}</p>
    <hr>
    <p><strong>税込合計：</strong>{{ order.final_price|intcomma }}円（別途送料{{ order.shipping_price|intcomma }}円）</p>
    </form>

    <!--<p><a href="{% url 'order_invoice_pdf' order.order_id %}" target="_blank">請求書</a></p>-->
    {% with order.items.first.product.id as product_id %}
    <button type=button class="btn btn-sm text-light mb-2" style="padding: 2px 8px; font-size: 0.75rem; background-color: #20AEE5;" onclick="location.href='{% url 'new_order' product_id %}'">同品種をさらに注文</button>
    {% endwith %}
    <button type=button class="btn btn-sm text-light mb-2" style="padding: 2px 8px; font-size: 0.75rem; background-color: #20AEE5;" onclick="location.href='{% url 'order_top' %}'">別品種を注文</button>
    </div>
{% endblock %}