{% extends "base.html" %}
{% load humanize %}
{% block title %}注文履歴{% endblock %}
{% block content %}
    <h2>注文履歴</h2>
    {% for note in notes%}
        {{ note.content|safe }}
    {% endfor %}
    {% if orders %}
        {% for order in orders %}
        {% with first_item=order.items.first %}
            {% if first_item %}
            {% if order.custom_deli_date %}
            {% ifchanged order.product_delivery_date.date %}
            <div class="d-flex justify-content-start align-items-center text-light p-2 mb-3" style="background-color: #20AEE5;border-radius: 0.5rem;">
                <div class="mb-0">
                    <strong>発送見込：</strong>{{ order.custom_deli_date|date:"Y/m/d" }}（カスタム）
                </div>      
            </div>
            {% endifchanged %}
            <form method="GET" action="{% url 'order_change' order.order_id %}">
            <div  class="card-rounded" onclick="this.closest('form').submit();" style="cursor: pointer;">
            <table>
                <tr>
                    <td colspan=6>
                        <div class="d-flex justify-content-start">
                            <strong>注文番号：</strong>{{ order.order_id }}
                            <span>（{{ order.get_status_display }}）</span>
                            {% if order.status == 'tentative' or order.status == 'received' %}
                                {% comment %} <form method="GET" action="{% url 'order_change' order.order_id %}">
                                    <button type="submit" class="btn btn-sm btn-primary me-2" style="padding: 2px 8px; font-size: 0.75rem;">変更</button>
                                </form> {% endcomment %}
                            {% endif %}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan=6>
                        <strong>注文日時：</strong>{{ order.created_at|date:"Y/m/d H:i" }}
                    </td>
                </tr>
                {% if order.tracking_id %}
                <tr>
                    <td colspan=6>
                        <strong>配送状況：</strong>
                        {% spaceless %}
                        {% if order.tracking_id %}
                        <a href="https://member.kms.kuronekoyamato.co.jp/parcel/detail?pno={{order.tracking_id}}" target="_blank" class="text-blue-600 underline" onclick="event.stopPropagation();">
                            発送済
                        </a>（追跡番号：{{ order.tracking_id }}）
                        {% else %}未発送
                        {% endif %}
                        {% endspaceless %}
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <td>
                        <strong>税込合計：</strong>{{ order.final_price|intcomma }}円（別途送料{{ order.shipping_price|intcomma }}円）
                        <!--<p><strong>総計：</strong>{{ order.final_total|intcomma }}円</p>-->
                    </td> 
                </tr>
                <tr>
                    <td><strong>特記事項：</strong>{{ order.remarks }}</td>
                </tr>
                <tr>
                    <td colspan=6>
                        <strong>注文内容：</strong>{{ first_item.product.name }}（{{ first_item.product.kind.name }}）・
                        {% if order.pickup_flg == True %}引取り
                        {% elif order.cool_flg == True %}冷蔵便
                        {% else %}常温便
                        {% endif %}
                    </td>
                </tr>
                </table>
                <table class="custom-table">
                <tr>
                    <th class="text-center d-none d-sm-table-cell">等級</th>
                    <th class="text-center d-none d-sm-table-cell">階級</th>
                    <th class="text-center d-none d-sm-table-cell">ユニット</th>
                    <th class="text-center d-none d-sm-table-cell">単価</th>
                    <th class="text-center d-none d-sm-table-cell">数量</th>
                    <!--<th class="d-none d-sm-table-cell">小計(内税) </th>-->
                </tr>
                {% for item in order.items.all %}
                    {% if item.quantity > 0 %}
                    <tr>
                        <td class="text-center nowrap">{{ item.price_table.grade }}</td>
                        <td class="text-center nowrap">{{ item.price_table.size }}</td>
                        <td class="text-center nowrap">{{ item.price_table.unit }}</td>
                        <td class="text-center nowrap">@{{ item.price_table.price|intcomma }}円</td>
                        <td class="text-center nowrap">×{{ item.quantity }}</td>
                        <!--<td style="text-align:right width:10%">{{ item.subtotal|intcomma }}円</td>-->
                    </tr>
                    {% endif %}
                {% endfor %}
                </table>
            </div>
        </form>
        <br>
        {% else %}
            {% ifchanged order.product_delivery_date.date %}
                <div class="py-0 px-0">
                    <div class="d-flex justify-content-start align-items-center text-light p-2 mb-3" style="background-color: #20AEE5;border-radius: 0.5rem;">
                        <div class="mb-0">
                            <strong>発送見込：</strong>{{ order.product_delivery_date.date|date:"Y/m/d" }}
                        </div>      
                    </div>
                </div>
            {% endifchanged %}
            <form method="GET" action="{% url 'order_change' order.order_id %}">
            <div  class="card-rounded" onclick="this.closest('form').submit();" style="cursor: pointer;">
            <table>
                <tr>
                    <td colspan=6>
                        <div class="d-flex justify-content-start">
                            <strong>注文番号：</strong>{{ order.order_id }}
                            <span>（{{ order.get_status_display }}）</span>
                            {% if order.status == 'tentative' or order.status == 'received' %}
                                {% comment %} <form method="GET" action="{% url 'order_change' order.order_id %}">
                                    <button type="submit" class="btn btn-sm btn-primary me-2" style="padding: 2px 8px; font-size: 0.75rem;">変更</button>
                                </form> {% endcomment %}
                            {% endif %}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan=6>
                        <strong>注文日時：</strong>{{ order.created_at|date:"Y/m/d H:i" }}
                    </td>
                </tr>
                <tr>
                    <td colspan=6>
                        <strong>配送状況：</strong>
                        {% spaceless %}
                        {% if order.tracking_id %}
                        <a href="https://member.kms.kuronekoyamato.co.jp/parcel/detail?pno={{order.tracking_id}}" target="_blank" class="text-blue-600 underline" onclick="event.stopPropagation();">
                            ヤマト追跡ページ
                        </a>（追跡番号：{{ order.tracking_id }}）
                        {% else %}未発送
                        {% endif %}
                        {% endspaceless %}
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>税込合計：</strong>{{ order.final_price|intcomma }}円（別途送料{{ order.shipping_price|intcomma }}円）
                        <!--<p><strong>総計：</strong>{{ order.final_total|intcomma }}円</p>-->
                    </td> 
                </tr>
                <tr>
                    <td><strong>特記事項：</strong>{{ order.remarks }}</td>
                </tr>
                <tr>
                    <td colspan=6>
                        <strong>注文内容：</strong>{{ first_item.product.name }}（{{ first_item.product.kind.name }}）・
                        {% if order.pickup_flg == True %}引取り
                        {% elif order.cool_flg == True %}冷蔵便
                        {% else %}常温便
                        {% endif %}
                    </td>
                </tr>
                </table>
                <table class="custom-table">
                <tr>
                    <th class="text-center d-none d-sm-table-cell">等級</th>
                    <th class="text-center d-none d-sm-table-cell">階級</th>
                    <th class="text-center d-none d-sm-table-cell">ユニット</th>
                    <th class="text-center d-none d-sm-table-cell">単価</th>
                    <th class="text-center d-none d-sm-table-cell">数量</th>
                    <!--<th class="d-none d-sm-table-cell">小計(内税) </th>-->
                </tr>
                {% for item in order.items.all %}
                    {% if item.quantity > 0 %}
                    <tr>
                        <td class="text-center nowrap">{{ item.price_table.grade }}</td>
                        <td class="text-center nowrap">{{ item.price_table.size }}</td>
                        <td class="text-center nowrap">{{ item.price_table.unit }}</td>
                        <td class="text-center nowrap">@{{ item.price_table.price|intcomma }}円</td>
                        <td class="text-center nowrap">×{{ item.quantity }}</td>
                        <!--<td style="text-align:right width:10%">{{ item.subtotal|intcomma }}円</td>-->
                    </tr>
                    {% endif %}
                {% endfor %}
                </table>
            </div>
        </form>
                <br>
    {% endif%}
    {% endif%}
    {% endwith%}
    {% endfor %}
    {% else %}
        <p>注文履歴はまだありません。</p>
    {% endif %}
{% endblock %}